/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ded8e2;
    color: #741199;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 0px solid #ffffff;
}

/* Текст "Все началось..." */
.small-text {
    font-size: 0.9em;
    color: #8fbceb;
    font-style: italic;
    margin-bottom: 5px;
}

.tiny-text {
    font-size: 0.7em;
    color: #cbb7e2;
    opacity: 0.7;
}

/* Заголовок с датой */
h1 {
    color: #6c0b90;
    font-size: 1.8em;
    margin: 0px 0;
}

h2 {
    color: #d799e9;
    font-size: 2em;
    margin: 0px 0;
}

h3 {
    color: #d899e987;
    font-size: 1em;
    margin: 0px 0;
}

/* Подзаголовок */
.subtitle {
    font-size: 1em;
    color: #741199;
    margin: 20px 0;
}

/* Слайдер */
.slider {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* Кнопки слайдера */
.slider-controls {
    margin: 15px 0;
}

.slider-controls button {
    background-color: #f19ab4;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.slider-controls button:hover {
    background-color: #e87aa2;
}

/* Адаптивность */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .slider-controls button {
        width: 35px;
        height: 35px;
        font-size: 1em;
    }
}
